[data-type="fcp-gutenberg/team"] {
    border:1px dotted #444;
    padding:10px;
}
div[data-type="fcp-gutenberg/team"] h3 {
    margin:-5px 0 0;
    text-align:right;
    font-size:12px;
}
[data-type="fcp-gutenberg/team"] span[role="textbox"] {
    display:inline-block;
    border:1px dotted #ccc;
    padding:0px 6px;
    box-sizing:border-box;
    min-width:calc( 2ch + 12px );
    text-align:center;
}
[data-type="fcp-gutenberg/team"] div[role="textbox"] {
    border:1px dotted #ccc;
    padding:3px 8px;
    box-sizing:border-box;
}

/* to not add a separate style file for team members */
[data-type="fcp-gutenberg/team-member"] {
    border:1px dotted #444;
    padding:10px;
    box-sizing:border-box;
    background-color:#eee;
    text-align:center;
}

[data-type="fcp-gutenberg/team-member"] .fcp-member-avatar button {
    display:block;
    width:150px;
    height:150px;
    margin:0 auto 15px;
    border:1px solid #aaa;
    border-radius:50%;
    padding:0;
    box-sizing:border-box;
    overflow:hidden;
    background-color:#fff;
}

[data-type="fcp-gutenberg/team-member"] div[role="textbox"] {
    margin-bottom:15px;
}

[data-type="fcp-gutenberg/team-member"] .fcp-member-socials div[role="textbox"]:not(:last-child) {
    margin-bottom:0;
    border-bottom:none;
}

/* aligning members inside the team */
[data-type="fcp-gutenberg/team"] .block-editor-block-list__layout {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
}
[data-type="fcp-gutenberg/team"] [data-type="fcp-gutenberg/team-member"] {
    width:calc( 33.333% - 6.667px );
}
[data-type="fcp-gutenberg/team"] [data-rows="1"] [data-type="fcp-gutenberg/team-member"] {
    width:100%;
}
[data-type="fcp-gutenberg/team"] [data-rows="2"] [data-type="fcp-gutenberg/team-member"] {
    width:calc( 50% - 10px );
}
